/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  border: 1px dotted red;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  font-weight: normal;
  margin: 0;
  padding: 0;
  background: #f3f3f3;
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  font-weight: normal;
}


body {
  padding: 0 7.5rem;
}

header h1 {
  font-size: 3rem;
  padding: 5rem 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image {
  height: 500px;
}
.image img {
  height: 100%;
  width: auto;
}

.information {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.information h2 {
  font-size: 7rem;
}
.information p {
  font-size: 1.6rem;
  margin: 2rem 0;
}
.information a {
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  background: black;
  color: white;
  text-decoration: none;
  width: 44%;
}

footer {
  padding: 5rem 0;
  text-align: center;
  font-size: 1.4rem;
}





/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}